button {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
  }
  .question {
    background-color: rgb(59, 11, 232);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.answer {
    background-color: rgba(54, 175, 227, 0.95);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}